*, *::before, *::after{
    box-sizing: border-box;
}

body{
    

    padding: 0px;

    font-family: 'Roboto', sans-serif;

    



}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    color:#05285e;
    text-align: center;
    
}



nav.mi-menu{
   max-width: 1200px; 
   margin: auto;
}

ul{
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #fe5c81;
    color: white;
    
}

nav.mi-menu a{
    padding: 8px;
    transition: 1s;
    color:white;
    
}
a{
    text-decoration: none;
}

nav.mi-menu a:hover{
   
    background: white;
    color: #05285e;;
    border: 2px solid #05285e;
}

a#oculto{

    border: none;
}




section.slide-section{
    max-width: 1200px;
    margin: auto;
}

section.ofertas{
    max-width: 1200px;
    margin:auto;
    margin-top: 20px;
}

section.ofertas img{
    width: 100%;
    transition: 1s;
}

section.ofertas figure{
    width: 32%;
    position: relative;
    overflow: hidden;
    
}

section.ofertas img:hover{

    transform: scale(1.5);
}
section.ofertas div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
section.ofertas h2{
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    color: #58a9dd;
    
    
}

section.ofertas h2.titulo{
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 45%;
    color: #05285e;
    font-family: 'Roboto', sans-serif;

    
}
section.ofertas h2.subtitulo{
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 60%;
    color: black;
    
}

section.texto-fotos{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section.texto-fotos > *{
    width: 30%;
}

section.texto-fotos div{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
h2{
    margin-bottom: 10px;
}
i{
    color:green;
    position: relative;
    left: 48%;
    margin-bottom: 10px;
    
}

#parallaxs{
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/parallax1.jpg");
    
    /*
    background-position: 0px 0px;
    El eje x es el primer valor, el segundo es el eje y
    */
    background-attachment: fixed;
    
}

#parallaxs div{

  
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

a.boton{
    display: inline-block;
    text-align: center;
    background: #fe5c81;
    width: 200px;
    border-radius: 65px;
    color:white;
    padding: 20px 30px; 
    margin-top: 150px;
    transition: .4s;
    
}

a.boton:hover{

    background: white;
    color: #05285e;
    border: 2px solid #05285e;
}

section.job{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

section.job img{
    width: 100%;
    transition: 1s;
}

section.job figure{
    width: 32%;
    position: relative;
    overflow: hidden;   
}

section.job div.trabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Efectos de texto sobre fotos*/
.fotos-inicio{
    position: relative;
    overflow: hidden;
}
figcaption{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255,.7);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:100%;
    left: 0;
    font-size: 20px;
    font-family: helvetica;
    transition:  all 1s;
}
.fotos-inicio:hover figcaption{
    opacity: 1;
    top:0;
}

figcaption h1{
    color: #fe5c81;
}

figcaption p{
    text-align: center;
}

section.job a{
    margin-left: 42%;
    margin-top: 20px;
}

/*MODAL-----*/

.mascara {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
  }

  .contenido {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
  }

  .cerrar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#lamascara{
    z-index: 10;
}


/*Fin modal*/


footer{
    background-color:#fe5c81;
    padding: 25px;
    padding-bottom:0px; 
    
}
footer h1{
    color:white;
}

footer div{
    padding: 25px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
i.footer{
    color: wheat;
}

.face{
    color: gray;
    transform: rotate(0);
    transition: all 1s;
}
.face:hover{
    color: #ff0080;
    transform: rotateY(360deg);
}

i.circulo{
    color: #fe5c81;    
}

i.form{
    color: white;
}

section.contacto{
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

section.contacto p{
    margin-top:5px; 
}

section.contacto div.contenedor{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

div.contenedor-de-papa{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 30%;
}

section.contacto > div{
    
    display: flex;
    flex-direction: row;
}

form{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: space-around;
    width: 65%;
}

input{

    padding: 10px;
    border-radius: 65px;
    border: 1px solid #fe5c81;
}
textarea{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #fe5c81; 
}

input.envio{
    background: #fe5c81;
    color: white;
    transition: 1s;
    border: 1px solid #fe5c81; 
}

input.envio:hover{

    background: white;
    color: #05285e;
    border: 1px solid #05285e;
}

section.ubicacion{

    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 30px;
}

/*galeria estilos*/



    
    .imgsize{
        width: 100%;
        height: 200px;
    }

    section.instalaciones a{
        width: 25%;
        
    }
    
    
    
    a img{
        border: 4px white solid;
    }
    
    a img:hover{
        border: 4px #fe5c81 solid;
    }
    
    a img{
        border-radius: 5px;
    }

section.instalaciones{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

section.instalaciones div{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#oculto{
    display: none;
}

.open-menu{

    left: 0;
    
}

.ir-arriba {

    display: block;
    position: fixed;
    /*cursor: pointer nos permite convertir un objeto html en un objeto clickeable*/
    cursor: pointer;
    bottom: 0px;
    left:1280px;
    z-index: 10;
    color: #05285e;
}

.ir-arriba:hover{
    color: #800000;
}





/*galeria estilos*/


@media screen and (max-width:414px){

    body{
        max-width: 414px;
    }

    ul{
        padding: 10px;
        width: 100%;
        background-color: #fe5c81;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        position: absolute;
        left: -105%;
        top: 120px;
        height: 260px;
        transition: .5s;
        z-index: 30;
        
    }

    
    nav{
        padding: 10px;
    }

    #oculto{
        display: flex;
        color:white;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        display: inline-block;
        

    }
    i.fa-bars{
        color: white;
    }

    .ir-arriba {

        display: block;
        position: fixed;
        /*cursor: pointer nos permite convertir un objeto html en un objeto clickeable*/
        cursor: pointer;
        bottom: 0px;
        left:360px;
        z-index: 50;
        color: #05285e;
    }

    section.ofertas{

        width: 100%;
        

    }
    section.ofertas div{

        width: 100%;
        flex-direction: column;
        padding: 40px;

    }
    section.ofertas figure{
        width: 100%;
        
        
    }
    section.texto-fotos{
        display: none;
    }

    section.job{
        width: 100%;
    }

    section.job div.trabajos{
        flex-direction: column;
    }
    section.job figure{
        width: 100%; 
    }
    .fotos-inicio figcaption{
        opacity: 1;
        top:0;
    }

    .contenido {
        
        width: 100%;
      }
    
      section.job a{
        margin-left: 25%;
        margin-top: 20px;
    }

    section.instalaciones{

        width: 100%;
    }
    section.instalaciones a{
        width: 100%;
        
    }
    
    iframe{
        width: 414px;
    }
    div.contenedor-de-papa{
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 450px;
        width: 100%;
    }
    
    section.contacto > div{
        
        display: flex;
        flex-direction: column;
    }
    form{
        
        height: 400px;
        width: 100%;
    }


    
}





